@font-face {
font-family: "pokemon-font";
src: url("fonts/pokemon-font.ttf");
}

$pokeball-red: #d21313;
$pokefont: "pokemon-font", monospace;
$pokedex-red: #ec1414;
$draw-border: 4px solid black;
$light-border: 2px solid black;

%circle {
  border-radius: 50%;
}


//Pokeball illustration found on Codepen.io and was written by Håvard Brynjulfsen
// .pokeball, .pokeball:before, .pokeball:after {
//   box-sizing: border-box;
// }

.pokeball {
  @extend %circle;
  display: inline-block;
  margin: auto;
  width: 200px;
  height: 200px;
  background: $pokeball-red;
  box-shadow:  inset 0 -90px 0 -34px #f7f7f7, inset 0 -97px 0 -34px, 5px 5px 13px 0px;
  position: relative;
  transition: .4s;
  transform-origin: bottom center;
  // Remove mobile tab color
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
.pokeball:before {
  @extend %circle;
    display: inline-block;
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    width: 40px;
    background: white;
    top: 120px;
    left: 80px;
    border: 1px solid rgba(0,0,0,.4);
    box-shadow: 2px 0 0 0 rgba(0,0,0,0.2), 0 0 0 5px #fff, 0 0 0 10px #000;
  }

  .pokeball:after {
    @extend %circle;
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height:100%;
    box-shadow:  inset -5px -3px 5px 0 rgba(0,0,0,.4);
  }

.stillball {
  @extend %circle;
  display: inline-block;
  margin: auto;
  width: 200px;
  height: 200px;
  background: $pokeball-red;
  box-shadow:  inset 0 -90px 0 -34px #f7f7f7, inset 0 -97px 0 -34px black, 5px 5px 13px 0px;
  position: relative;
  transition: .4s;
  transform-origin: bottom center;
  // Remove mobile tab color
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
.stillball:before {
  @extend %circle;
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    width: 40px;
    background: white;
    top: 120px;
    left: 80px;
    border: 1px solid rgba(0,0,0,.4);
    box-shadow: 2px 0 0 0 rgba(0,0,0,0.2), 0 0 0 5px #fff, 0 0 0 10px #000;
  }

  .stillball:after {
    @extend %circle;
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height:100%;
    box-shadow:  inset -5px -3px 5px 0 rgba(0,0,0,.4);
  }

  .stillball:hover {
    cursor: pointer;
  }

  .active .pokeball:hover {
    cursor: pointer;
    animation: anti-wiggle 1.5s ease-in-out infinite;
  }

  .active .pokeball:hover:after {
    animation: wiggle 1.5s ease-in-out;
  }

  .pokeball:focus, .pokeball:active {
    outline: 0;
  }

@keyframes wiggle {
  20% {
    box-shadow:  inset -5px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(7deg);
  }

  30% {
    box-shadow:  inset -11px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(-14deg);
  }

  40% {
    box-shadow:  inset -5px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(4deg);
  }

  50% {
    box-shadow:  inset -8px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(-2deg);
  }

  60% {
    box-shadow:  inset -7px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(0deg);
  }
}

@keyframes anti-wiggle {
  10% {
    transform: translateX(4px) rotate(-7deg);
  }

  20% {
    transform: translateX(-8px)  rotate(14deg);
  }

  30% {
    transform: translateX(2px)  rotate(-4deg);
  }

  40% {
    transform: translateX(-1px)  rotate(2deg);
  }

  50% {
    transform: translateX(0px) rotate(0deg);
  }
}
// end of derivative code

h1 {
  position: absolute;
  color: red;
  text-shadow: 5px 3px 2px black;
  top: 5%;
  right: 6%;
  font-size: 370%;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: none;
  font-family: $pokefont;
  margin: 0px;
  background-image: url('../img/pokebackground.png');
  background-size: cover;
}

.row.pokedex {
  height: 100vh;
  overflow-x: visible;
  overflow-y: hidden;
}

.pokedex-body {
  position: relative;
  background-color: $pokedex-red;
  min-height: 550px;
  width: 100%;
  border-radius: 55px;
  border: $draw-border;
  box-shadow: 10px 15px 36px #0000004a, -1px 0px 16px inset black;
}

.lights {
  display: inline-block;
  width: 61%;
  padding-top: 1em;
  /* padding-bottom: 1em; */
  border-bottom: $draw-border;
  border-right: $draw-border;
  overflow: hidden;
}

.pokedex-lens {
  @extend %circle;
  display: inline-block;
  position: relative;
  background-color: black;
  box-sizing: border-box;
  height: 4.9em;
  width: 4.9em;
  background: radial-gradient(circle at 70px 70px, #5cabff, #000);
  top: 3%;
  left: 6%;
  border: 3px solid black;
  box-shadow: -1px -1px 5px black(.3) inset;
  margin-bottom: 4%;
}

.lens-glare {
  @extend %circle;
  position: relative;
  display: inline-block;
  height: .8em;
  width: 2.1em;
  background-color: white;
  left: 0em;
  top: 0.9em;
  box-shadow: 0px 0px 18px white;
  transform: rotate(-53deg);
}

.lights-flex {
  display: inline-flex;
  align-content: space-between;
}

.red-light {
  @extend %circle;
  position: relative;
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: red;
  left: 3em;
  top: .5em;
  border: $light-border;
}
.yellow-light {
  @extend %circle;
  position: relative;
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: yellow;
  left: 4.2em;
  top: .5em;
  border: $light-border;
}
.green-light {
  @extend %circle;
  position: relative;
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: green;
  left: 5.5em;
  top: .5em;
  border: $light-border;
}

.screen-wrapper {
  margin: 7%;
  display: inline-block;
  position: relative;
  width: 86%;
  min-height: 360px;
  height: 60vh;
  background-color: #828282;
  border: $light-border;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 15px;
}

/* .screen-wrapper-notch {
  position: absolute;
  display: inline-block;
  width: 170px;
  height: 50px;
  border-top: 3px solid black;
  background-color: red;
  left: -45px;
  bottom: 2.3%;
  transform: rotate(45deg);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
} */

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.greenscreen {
  display: inline-block;
  position: absolute;
  background-color: #9ab194;
  height: 76%;
  width: 94%;
  margin: 3%;
  box-shadow: 0px 0px 10px inset #5b675a;
  overflow-y: scroll;
}

.col {
  overflow: visible;
}

.carousel {
  height: 500px;
  overflow-x: visible;
}

.carousel-fixed-item {
  height: 200px;
}

.remove {
  position: absolute;
  bottom: 0px;
  width: 50%;
  border-radius: 3px;
  right: 0px;
  margin-right: 3%;
  margin-bottom: 3%;
  height: 15%;
  /* border-bottom-left-radius: 200px; */
  color: white;
  font-size: xx-large;
  border: 3px solid black;
  overflow: hidden;
}

.pokeball>img {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.active img {
  transition: transform .1s ease-in;
  transform: scale(1.8);
}

.stillball>i {
  @extend %circle;
  opacity: 0;
  background-color: #808080;
  position: absolute;
  font-size: 12em;
  padding: auto;
  left: 8%;
  top: 10%;
  color: #27b127;
  z-index: 1;
}

.stillball>i:hover {
  opacity: .7;
  background-color: #8e8e8e;
  position: absolute;
  padding: auto;
  left: 8%;
  top: 10%;
  color: #27b127;
}

.splash {
  position: relative;
  width: 100%;
  height: 100%;
}

.splash p {
  text-align: center;
  font-size: 0.6em;
  position: sticky;
}

#author {
  position: relative;
  top: 5%;
}

#credits {
  margin: 5% 2%;
}

#logo {
  object-fit: cover;
  position: relative;
  display: block;
  width: 70%;
  max-height: 180px;
  height: auto;
  margin: auto;
  top: 5%;
}

#trainer {
  position: sticky;
  height: 45%;
  width: auto;
  display: block;
  margin: auto;
  opacity: .8;
  padding-top: 5%;
}

.dexInfo img {
  position: absolute;
  right: 3%;
  top: 2%;
  background-color: #00000033;
  height: 27%;
}

#dexScreen {
  display: inline-block;
  padding-left: 10px;
  text-shadow: 1px 1px 0px #7cb17c
}
