%device-half {
  background: #E5441F;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

@extend %device-half;

%arrow {
  position: absolute;
  color: whitesmoke;
  width: 3%;
  height: auto;
}

@extend %arrow;

sass master.scss pokedex.css

%rounded-corners-left {

}

@extend %rounded corners-left;

@import "animations"

_animations.scss filename
